# Aegis Core Secrets (CRITICAL)
.env

# Virtual Environments
venv/
env/

# Python Cache & Compilation
__pycache__/
*.py[co]
*$py.class
*.so
build/

# Local Telemetry, Databases & Logs
# We ignore the local forensic logs but allow the /data folder structure
data/*.db
data/*.db-shm
data/*.db-wal
data/*.json
data/*.jsonl
data/*.log
*.log
.shutdown

# OS Specific
.DS_Store
Thumbs.db